<!-- views/partials/_header.ejs -->

<meta charset="UTF-8">

<% if (user) { %>
  <b><%= user.id %></b>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
    <% } else { %>
  <a href="/register">Register</a> or <a href="/login">Login</a>

  <% } %>