<!DOCTYPE html>
<html lang="en">
<head>
</head>

<header>
    <% include ./partials/_header %>
</header>

<body>
<p>
  This is the shortURL: <%= urls.shortURL %> <br />
</p>
<p>
  <form action="/urls/<%= urls.shortURL %>?_method=PUT" method="post">
    <label for="update-URL"><%= urls.fullURL %> &#8649; </label>
    <input id="update-URL" type="text" name="newLongURL">
    <button>Update URL</button>
  </form>
</p>


  <a href="/urls/new">Click here to shorten a URL!</a>
</body>
</html>