<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
    <% include ./partials/_header %>
</header>

<body>
  This is the shortURL: <%= shortURL %> <br />
  This is the longURL: <% fullURL.forEach((listing) => { %>
    <% if (listing.shortURL == shortURL) { %>
      <%= listing.fullURL %>
  <% } %>
  <% }) %>
</p>


  <a href="#">Click here to shorten a URL!</a>
</body>
</html>