<!DOCTYPE html>
<html lang="en">
<head>
</head>

<header>
    <% include ./partials/_header %>
</header>

<body>
  <ul>
    <% if (urls) { %>
    <% urls.forEach((url) => { %>
    <% console.log(url); %>
      <li>
        <%= url.shortURL %> - <%= url.fullURL %>
        <% if (user.id === url.userID) { %>
          <a href="/urls/<%= url.shortURL %>">Edit</a>
          <form method="POST" action="/urls/<%= url.shortURL %>/delete">
            <button>Delete</button>
          </form>
          <% } %>
      </li>
    <% }); %>
  </ul>
  Would you like to <a href="/urls/new">add a new link</a>?
  <% }; %>
</body>
</html>
