<!DOCTYPE html>
<html lang="en">
  <header>
    <% include partials/_header %>
  </header>
  <body style="font-size:20px; padding:50px;">
    <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Enter your e-mail address:</label>
      <input id="email" type="email" name="email" placeholder="@" style="width: 300px">
      <br />
      <label for="password">Choose your password:</label>
      <input id="password" type="password" name="password" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>